Repository werf/trdl, pull requests merged in 2021-11, with the labels that each got.

#100 fix(pgp-signing-key): fix error in the periodic task when pgp key not generated
  server/path_publish.go
  server/path_release.go
  server/periodic.go
  server/pkg/publisher/backend.go
  server/pkg/publisher/publisher.go
Labels: scope: server

#101 chore: release 0.2.1
  CHANGELOG.md
Labels: autorelease: pending

#121 chore: release 0.3.0
  CHANGELOG.md
Labels: autorelease: pending

#128 chore: release 0.3.1
  CHANGELOG.md
Labels: autorelease: pending

#139 chore(docs): add "TUF repository layout" item in sidebar
  docs/_data/sidebars/_reference.yml
  docs/_data/sidebars/reference.yml
Labels: test docs

#141 chore: serve trdl public key
  docs/werf.yaml
  trdl.asc
Labels: test docs

#142 docs: add notes about gcp storage
  docs/pages_ru/QUICKSTART.md
Labels: test docs
